.container {
    background: linear-gradient(to right, #193e98, #40c4ff);
    text-align: center;
    color: #fff;
}

.title {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 120px !important;
}

p {
    font-weight: 100;
}

@media(max-width: 600px) {
    .icon {
        font-size: 60px !important;
    }
}